---
DEBUG: false

POSTGRES_PASSWORD: pass
POSTGRES_USER: user
POSTGRES_DB: postgres
POSTGRES_HOST: 127.0.0.1
POSTGRES_PORT: 6500

REDIS_HOST: 127.0.0.1
REDIS_PORT: 6501
REDIS_DB: 0

EOS_URL: https://example.ru
EOS_LOGIN_PATH: login/
EOS_SCHEDULE_PATH: schedule/
EOS_USERNAME: guest
EOS_PASSWORD: guest
EOS_PATTERN_PATH: folder/
EOS_SCHEDULE_CHECK_TIME: 03:00

SECRET_KEY: 'key'
ALGORITHM: 'HS256'
SUPERTOKEN: 'examplesupertoken'